{% extends 'dashboard-base.html' %}

{% block page_title %}Operational Dashboard for Colorado College Library Systems{% endblock %}

{% block sidebar %}
  {% include ('snippets/sidebar.html') %} 
{% endblock %}

{% block main %}
  <h1 class="page-header">Operational Dashboard</h1>
  <div class="row placeholders" data-bind="foreach: libraryVMs">
     <div class="col-xs-6 col-sm-3 placeholder">
       <img data-bind="attr: {'src': vmStatusImg}" 
            class="img-responsive" 
            alt="Library VM Status">
       <h4 data-bind="text: vmName"></h4>
       <span data-bind="html: vmStatusMsg"
             class="text-muted"></span>
     </div>
   </div>
{% endblock %}


{% block data_section %}
 <h2 class="sub-header">Running Services</h2>
   <div class="table-responsive">
     <table class="table table-striped">
       <thead>
          <tr>
            <th>#</th>
            <th>Virtual Machine</th>
            <th>Service</th>
            <th>Memory</th>
            <th>Items</th>
           </tr>
        </thead>
        <tbody data-bind="foreach: libraryServices">
          <tr>
           <td>
             <span data-bind="attr: { 'class': serviceClass,
                                      'style': serviceColor }"></span>
           </td>
           <td data-bind="text: vmName"></td>
           <td data-bind="html: service"></td>
           <td data-bind="text: memory"></td>
           <td data-bind="text: itemCount"> </td>
          </tr>
        </tbody>
     </table>
   </div>
{% endblock %}

{% block more_js %}
<script>
  ko.applyBindings({
    libraryServices: [
     {% for service in services %}
      { itemCount: "{{ service['item-count'] }}",
        memory: "{{ service['max_memory'] }}",
        serviceClass: 'glyphicon glyphicon-ok',
        serviceColor: "color: green",
        service: "{{ service['name'] }}",
        vmName: "{{ service['host'] }}"
      }     
     {% if not loop.last %},{% endif %}
     {% endfor %}
    ],
    libraryVMs: [
     {% for vm in virtual_machines %}
     { vmName: "{{ vm.name }}",
       vmStatusImg: "{{ url_for('static', filename='img/success.png') }}",
       vmStatusMsg: "IP4 address {{ vm.vars.get('ansible_ssh_host') }}<br>{{ vm.vars.get('cc_name') }}"
     } {% if not loop.last %},{% endif %}
     {% endfor %}
    ]
  });

</script>
{% endblock %}
